<div class="content" *ngIf="!isAuthenticated">
  <div class="title">
    <h1>Nariño</h1>
  </div>
  <div >
    <p>
        Esta región se encuentra ubicada al sureste de Colombia, en la frontera con la República del 
        Ecuador.  La  cordillera  de  los  Andes,  que  proviene  del  sur  de  Chile  y  Argentina,  entra  a 
        Colombia en Nariño y cruza el país desde el sur hasta el norte. La costa pa
        cífica de Nariño, 
        selvática  y  tropical,  es  separada  de  la  vertiente  amazónica  por  las  altas  montañas  que 
        pertenecen   a   los   Andes.   En   consecuencia   aquí   se   pueden   encontrar   tres   diferentes 
        topografías:  la  llanura,  que  bordea  el  Océano  Pacífico,
        la  región  And
        ina  y  la  vertiente 
        Amazónica.
        La  zona  andina  de  Nariño  es  sin  duda  el  paisaje  más  sobresaliente  de  la  región.  La 
        cordillera  de  los  Andes  forma  en  el  sur  de  Colombia  el  llamado  nudo  de  Los  Pastos,  de 
        donde se desprenden dos ramales: la Cordillera Occidental
        , con los volcanes Chiles (4.718 
        m), Cumbal (4.764 m), Azufral (4.070 m), y una profunda depresión denominada la Hoz de 
        Minamá. En el otro ramal esta
        la Cordillera Centro 
        –
        Oriental, donde se ubica el altiplano 
        de  Túquerres 
        -
        Ipiales,  el  Valle  de  Atriz  y 
        los  volcanes  Galeras  (4.276  m)  y  Doña  Juana 
        (4.250 m).
        Desde  el  punto  de  vista  hidrográfico,  Nariño  está  constituida  por  dos  vertientes:  la 
        vertiente  del  Pacífico,  que  comprende  los  ríos  Patía,  Guáitara,  Mayo,  Juanambú,  Pasto, 
        Iscuandé,  Mira  y  Mataje.  Es
        tos  ríos  fluyen  hacia  el  oeste  por  profundos  cañones  que 
        eventualmente  atraviesan  la  cordillera  de  los  Andes,  de  manera  excepcional  en  la  llamada 
        Hoz    de    Minamá;    y    la    vertiente    del    Atlántico,    conformada    por    los    ríos 
        Guamuez,
        Churuyaco,  San  Miguel,  Patascoy
        ,  Afiladores  y  Lora  que  fluyen  hacia  el  norte 
        del  país.  Los  ríos  y  cañones  que  hay  en  la  zona,  así  como  las  horas  de  luz  solar  permiten 
        que  el  aire  caliente  que  se  acumula  en  el  fondo  de  los  cañones  en  el  día  ascienda  en  las 
        horas de la noche, haciendo pos
        ible que los árboles de café, sembrados en alturas de hasta 
        2,300 metros, puedan sobrevivir
    </p>


  </div>
</div>
