<br>
<div class="container" >

  <h1><i class="fa fa-arrow-right" aria-hidden="true"></i> {{titulo}}</h1>
  <hr>
  <br>

  <blockquote class="blockquote text-right">

    <footer class="blockquote-footer">Publicado por: <cite title="Source Title"> {{getuser()}}</cite></footer>

  </blockquote>

  <div class="card mb-3">
    <img class="card-img-top" src={{image}} alt="Card image cap">
    <div class="card-body">

      <p class="card-text">{{descripcion}}</p>
      <p class="card-text">
        <small class="text-muted">{{id | date:'medium'}}</small>
      </p>

    </div>
  </div>

  <hr>

  <h1><i class="fa fa-comments" aria-hidden="true"></i> Comentarios</h1>
  <div>
    <app-comments></app-comments>
  </div>

  <div *ngIf="dataUser != id_dataUser">
    <div class="form-group" >
      <textarea class="form-control" rows="5" placeholder="Ingresar comentario" [(ngModel)]="dataComent.comentario" autofocus></textarea>

    <button type="button" class="btn btn-primary" (click)="createComment()"><i class="fa fa-paper-plane" aria-hidden="true"></i>
      Enviar comentario
    </button>
  </div>



</div>
