<br>
<div class="container">

  <h1><i class="fa fa-arrow-right" aria-hidden="true"></i> {{dataPost.titulo}}</h1>
  <hr>
  <br>

  <blockquote class="blockquote text-right">
    <footer class="blockquote-footer">Publicado por: <cite title="Source Title">{{dataUser}}</cite></footer>
  </blockquote>

  <div class="card mb-3">
    <img class="card-img-top" src={{dataPost.image}} alt="Card image cap">
    <div class="card-body">

      <p class="card-text">{{dataPost.descripcion}}</p>
      <p class="card-text">
        <small class="text-muted">{{dataPost.id | date:'medium'}}</small>
      </p>

    </div>
  </div>

  <hr>

  <h1><i class="fa fa-comments" aria-hidden="true"></i> Comentarios</h1>
  <div >
    <!-- Mostrar todos los comentarios sobre la publicacion -->
    <!-- <div *ngIf="dataPost.id==c.id_post">
      <h5>{{c.comentario}}</h5>
      <hr>
      <h6>comentado por</h6>
    </div> -->
    <app-comments></app-comments>


  </div>

  <div *ngIf="dataUser.id != dataPost.id_usuario">
    <div class="form-group">
      <textarea class="form-control" rows="5" placeholder="Ingresar comentario" [(ngModel)]="dataComent.comentario"></textarea>
    </div>
    <hr>
    <button type="button" class="btn btn-primary" (click)="createComment()"><i class="fa fa-paper-plane" aria-hidden="true"></i>
      Enviar comentario
    </button>
  </div>


</div>