<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a data-toggle="modal" data-target="#e" class="nav-link" href="#">Home <span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " *ngIf="isAuthenticated">Gestión de sitios</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " *ngIf="isAuthenticated">Mis de sitios</a>
      </li>


    </ul>
    <div class="boton-login" *ngIf="!isAuthenticated">
      <button type="button" class="btn btn-primary " data-toggle="modal" (click)=openModal()>
        Login
      </button>
    </div>


    <div>

      <span class="navbar-text" *ngIf="isAuthenticated">
                    <span class="badge badge-success">Usuario: {{emailUser}}</span>
                </span>
    </div>
    <div>

      <a data-toggle="modal" data-target="#e" class="nav-link" href="#" *ngIf="isAuthenticated" (click)="signOut()">Salir
        <span
          class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<!-- Modal  login -->
<div class="modal" role="dialog" [ngStyle]="{'display':display }" style="width: 20rem;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal" (click)=onCloseHandled()>×</button>
      </div>
      <div class="modal-body">
        <mat-tab-group>
          <mat-tab label="Login">
            <app-login></app-login>
          </mat-tab>
          <mat-tab label="Register">
            <app-register>

            </app-register>
          </mat-tab>
        </mat-tab-group>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)=onCloseHandled()>Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- fin Modal  login -->
