
<ng-container *ngFor="let p of postsAll | async">
<a  (click)="viewDetailPost(p.id)">
<div class="card" style="width: 25rem;">
  <img class="card-img-top"
       src="{{p.image}}">
  <div class="card-body">
    <h5 class="card-title">{{p.titulo}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">

        <div class="col-6">

          <a href="#" class="card-link">Comentario</a>
        </div>
        <div class="col-6">

        </div>
      </div>


    </li>

  </ul>

</div>
</a>
</ng-container>
