<br>
<div class="center">
  <div class="row">
    <div class="container">
      <div class="container">
        <h1><i class="fa fa-arrow-right" aria-hidden="true"></i> Todos los Sitios</h1>
        <hr><br>
        <ng-container *ngFor="let p of postsAll | async">
          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="{{p.image}}">
            <div class="card-body">
              <h5 class="card-title">{{p.titulo}}</h5>
              <p class="card-text">{{p.descripcion}}</p>
              <h6 class="card-title">{{p.id | date:'medium'}}</h6>
              <div>
                <button type="button" class="btn btn-danger" (click)="deleteImage(p.id)">Eliminar publicación</button>
              </div>

            </div>
          </div>
          <br>
        </ng-container>
      </div>
    </div>
  </div>
</div>
