<div >
  <div class="form-group">
    <label ><span class="glyphicon glyphicon-user"></span> Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="Nombre" [(ngModel)]="register_user.nombre">
  </div>
  <div class="form-group">
    <label ><span class="glyphicon glyphicon-user"></span> Apellido</label>
    <input type="text" class="form-control" id="Lastname" placeholder="Apellido" [(ngModel)]="register_user.apellido">
  </div>
  <div class="form-group">
    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Email</label>
    <input type="text" class="form-control" id="Email" placeholder="Email" [(ngModel)]="register_user.email">
  </div>
   <div class="form-group">
    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Contraseña</label>
    <input type="password" class="form-control" id="psw" placeholder="Contraseña" [(ngModel)]="register_user.password">
  </div>

  <button type="submit" class="btn btn-success btn-block" (click)="registerUser()"><span class="glyphicon glyphicon-off" ></span> Registrarse</button>
</div>
